{% extends 'NetgustoAdminLTEBundle:Page:admin.login.html.twig' %}

{% block body %}
<div class="form-box" id="login-box">
    <div class="header bg-primary">Sign In</div>

    <form action="{% block formaction %}{{ path('netgusto_adminlte_login_check') }}{% endblock %}" method="post">

        <div class="body bg-gray">
            {% if error %}
                <div class="form-group has-error">
                    <label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> {{ error.message }}</label>
                </div>
            {% endif %}

            <div class="form-group">
                <input type="text" name="_username" class="form-control" placeholder="User ID" value="{{ last_username }}" />
            </div>

            <div class="form-group">
                <input type="password" name="_password" class="form-control" placeholder="Password" />
            </div>
        </div>
        <div class="footer">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Sign me in</button>  
        </div>
    </form>
</div>
{% endblock %}