{% extends 'NetgustoAdminLTEBundle:Page:admin.html.twig' %}

{% block body %}
<h1>Hello, World ! <i class="fa fa-rocket fa-3x"></i></h1>
<p><a href="{{ path('netgusto_demo_homepage') }}">Accéder au frontend</a></p>
{% endblock %}